.circleList {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    column-gap: 16px;
    row-gap: 40px;
    list-style-type: none;
    margin-top: 52px;
    padding: 0;
  }
  
  .input {
    max-width: 377px;
  }
  
  .deleteBtn {
    margin-right: 68px;
  }